/* common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1240px;
  margin: auto;
}
.btn {
  background-color: #dd0000;
  padding: 16px 25px;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Banner style */
.banner {
  display: flex;
  background-color: black;
  align-items: center;
  margin: 50px auto;
  border-radius: 30px;
}
.banner-left {
  color: white;
  padding-left: 106px;
}
.banner-right img {
  display: block;
}
.banner-left p {
  margin: 30px 0;
  max-width: 65%;
}
.banner-left h2 {
  font-weight: 700px;
  font-size: 4.1rem;
  line-height: 4.1rem;
}

.upcoming-matches {
  display: flex;
  gap: 15px;
}
.upcoming-matches-left {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 10px;
  border-radius: 15px;
  padding: 15px;
  height: fit-content;
  background-color: black;
}
.upcoming-matches-left .btn {
  border-radius: 10px;
}
.upcoming-matches-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  gap: 20px;
}
.upcoming-matches-right .card .btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 15px;
}
.upcoming-matches-right img {
  height: 180px;
  width: 100%;
  border-radius: 20px;
}
.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}
